# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\OneDrive - Northwestern University\453 NLP\nlpnetworkanalysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
